* {
  margin: 0;
  padding: 0%;
}
section {
  background-color: black;
  height: 62.5rem;
}
.tasks {
  background-color: #1a1a1a;
  color: #d9d9d9;
  width: 18.75rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.task {
  padding: 5px;
  border-bottom: 1px solid grey;
  display: flex;
}

.navbar {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.todoTitle {
  font-weight: 700;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}
.AddButton {
  font-size: 10px;
  background-color: #00a300;
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  width: 80px;
  height: 35px;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.AddButton:hover {
  opacity: 0.8;
}

.todo-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #dddddd37;
  border-radius: 5px;
}

.todo-item i {
  margin-left: 10px;
}

.todo-item p {
  flex-grow: 1;
}
