main {
  background-color: black;
  min-height: 844px;
}
.tasks {
  background-color: #1a1a1a;
  color: #d9d9d9;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.task {
  padding: 5px;
  border-bottom: 1px solid grey;
  display: flex;
}
.button1 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: end;
}
.AddButton {
  background-color: #00a300;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
.AddButton:hover {
  background-color: #00a300;
  color: black;
}
